
* {
    box-sizing: border-box;
}


body {
    background-color: #e92aba;
    opacity: 0.7;
    background: radial-gradient(circle at center center, #d1daed, #e92aba), repeating-radial-gradient(circle at center center, #d1daed, #d1daed 30px, transparent 60px);
    background-blend-mode: multiply;
    color: #090808;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 180px;
    width: 70%; /* Adjust the width as needed */
    background-color: #fff;
    padding: 20px;
    position: relative;
}


.player1 {
    width: 45%; /* Adjust the width of each section */
    padding: 10px;
    background-color: darkgrey;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    left: 20px;
}


.current {
    border-radius: 15px;
    background-color: #fff;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

/* player 2 should stay on the right side of the screen */
.player2 {
    width: 45%; /* Adjust the width of each section */
    padding: 10px;
    background-color: aquamarine;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    right: 20px;
}


.btn-new {
    position: absolute;
    background-color: #e92aba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}


.btn-roll {
    position: absolute;
    background-color: #e92aba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    top: 230px;
    left: 380px;
}

.btn-hold {
    position: absolute;
    background-color: #e92aba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    top: 280px;
    left: 405px;
}

.dice {
    position: absolute;
    top: 90px; /* Adjust the position as needed */
    right: 386px; /* Adjust the position as needed */
    z-index: 2; /* Place it above other content */
    width: 120px;
}


